<header class="App-header">
    <h1>Sudoku Stack</h1>
    <div class="actions">
        <button mat-raised-button type="button" color="primary" (click)="newGame()" >New Game</button>  <!-- [disabled]="editClientForm.invalid" -->
        <button mat-raised-button type="button" color="primary" (click)="toggleShowSolution()">Show/Hide Solution</button>
    </div>
</header>
<div class="container">

    <div *ngFor="let row of ( sudokuRows$ | async)">
        <div class="row" >
            <div *ngFor="let field of row.cols">
                <app-sudoku-field [sudokuCol]="field" (onNumberChanged)="onChange($event)"></app-sudoku-field>      
            </div>
        </div>
    </div>

    <div *ngIf="isCompletedSuccessfully() && sudoku$ | async; let sudokuState">
        <div>Well Done!!! Start time: {{sudokuState.startTime | date:'mediumTime'}} Complted time: {{sudokuState.solvedTime | date:'mediumTime'}}</div>
        <div>It took you {{(sudokuState.solvedTime.getTime() - sudokuState.startTime.getTime()) / 1000}} seconds</div>
    </div>

    <div *ngIf="showResults">
        <div>--------------------------------------------------------------------</div>
        <div *ngFor="let row of ( sudokuRowsSolution$ | async)">
            <div class="row" >
                <div *ngFor="let field of row.cols">
                    <app-sudoku-field [sudokuCol]="field" ></app-sudoku-field>      
                </div>
            </div>
        </div>
    </div>

  </div>
